{% extends 'base/base.html' %}

{% block body %}
    <br>
    <br>
    <div class="container">

      <h1 class="text-center">Signin Form</h1>
      {% if invalid %}
      <div class="alert alert-danger" role="alert">
          <h3>Invaild information</h3>
        </div>        
      {% endif %}        
      <form class="mt-20" method="POST"  action="#">
          {% csrf_token %}
          <label for="type-username">Username</label>
          <input type="text" class="form-control" id="type-username" placeholder="Enter Username" name="username">

          <label for="type-Password">Password</label>
          <input type="password" class="form-control" id="type-Password" placeholder="Password"  name="password">

          <button type="submit" class="btn btn-primary  mt-4">Signin</button>
      </form>
  </div>

{% endblock body%}
    

