{% extends 'base/base.html' %}

{% block body %}
<br>
<br>
<div class="container">

  <h1 class="text-center">Registration Form</h1>
  {% if invalid %}
  <div class="alert alert-danger" role="alert">
      <h3>Invaild information</h3>
    </div>        
  {% endif %}        
  <form class="mt-20" method="POST"  action="#">
      {% csrf_token %}
      <label for="type-fname">First Name</label>
      <input type="text" class="form-control" id="type-fname" placeholder="Enter First Name" name="fname">

      <label for="type-lname">Last Name</label>
      <input type="text" class="form-control" id="type-lname" placeholder="Enter Last Name" name="lname">

      <label for="type-username">Username</label>
      <input type="text" class="form-control" id="type-username" placeholder="Enter Username" name="username">


      <label for="type-email">Email address</label>
      <input type="email" class="form-control" id="type-email" placeholder="Enter email" name="email">



      <label for="type-Password">Password</label>
      <input type="password" class="form-control" id="type-Password" placeholder="Password"  name="password">

      <label for="type-Password1">Confirm Password</label>
      <input type="password" class="form-control" id="type-Password1" placeholder="Confirm Password" name="passwordC">

      <button type="submit" class="btn btn-primary  mt-4">Signup</button>
  </form>
</div>
    
{% endblock body%}
    

